In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [6]:
school_shooting = pd.read_csv('../../data/school_shooting_data.csv')

In [7]:
school_shooting['DateTime'] = pd.to_datetime(school_shooting['date'], format='%m/%d/%Y')
# school_shooting = school_shooting[(school_shooting['DateTime'].dt.year > 1999) & (school_shooting['DateTime'].dt.year < 2023)]

In [11]:
print("Shape of the data set:", school_shooting.shape)
school_shooting.head()

Shape of the data set: (366, 52)

,uid,nces_school_id,school_name,nces_district_id,district_name,date,school_year,year,time,day_of_week,...,staffing,low_grade,high_grade,lunch,county,state_fips,county_fips,ulocale,DateTime,Year
0,1,080480000707,Columbine High School,804800.0,Jefferson County R-1,4/20/1999,1998-1999,1999,11:19 AM,Tuesday,...,89.6,9,12,41,Jefferson County,8,8059,21.0,1999-04-20,1999
1,2,220054000422,Scotlandville Middle School,2200540.0,East Baton Rouge Parish School Board,4/22/1999,1998-1999,1999,12:30 PM,Thursday,...,39.0,6,8,495,East Baton Rouge Parish,22,22033,12.0,1999-04-22,1999
2,3,130441001591,Heritage High School,1304410.0,Rockdale County,5/20/1999,1998-1999,1999,8:03 AM,Thursday,...,84.0,9,12,125,Rockdale County,13,13247,21.0,1999-05-20,1999
3,4,421899003847,John Bartram High School,4218990.0,Philadelphia City SD,10/4/1999,1999-2000,1999,10:00 AM,Monday,...,41.0,9,12,2007,Philadelphia County,42,42101,11.0,1999-10-04,1999
4,5,250279000225,Dorchester High School,2502790.0,Boston,11/3/1999,1999-2000,1999,7:40 AM,Wednesday,...,NaN,9,12,543,Suffolk County,25,25025,11.0,1999-11-03,1999

In [15]:
print("Latest and earliest shooting events")
print(school_shooting['DateTime'].max(), school_shooting['DateTime'].min())
print("Days covered:", (school_shooting['DateTime'].max() - school_shooting['DateTime'].min()).days)

Latest and earliest shooting events
2023-02-02 00:00:00 1999-04-20 00:00:00
Days covered: 8689

In [14]:
print("one school shooting per days:")
(school_shooting['DateTime'].max() - school_shooting['DateTime'].min()).days / len(school_shooting)

one school shooting per days:

23.740437158469945

In [25]:
print("Casualties")
print("sum", school_shooting['casualties'].sum())
print(school_shooting['casualties'].describe())
print()
print("Deaths")
print("sum", school_shooting['killed'].sum())
print(school_shooting['killed'].describe())
print()
print("injured")
print("sum", school_shooting['injured'].sum())
print(school_shooting['injured'].describe())

Casualties
sum 603
count    366.000000
mean       1.647541
std        3.940493
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max       34.000000
Name: casualties, dtype: float64

Deaths
sum 192
count    366.00000
mean       0.52459
std        2.21160
min        0.00000
25%        0.00000
50%        0.00000
75%        0.00000
max       26.00000
Name: killed, dtype: float64

injured
sum 413
count    366.000000
mean       1.128415
std        2.265261
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max       21.000000
Name: injured, dtype: float64